<header class="hero">
  <div class="hero-image"></div>
</header>
<div class="best-palce">
  <div class="container ">
    <div class="images-div">
      <div class="row ">
      <div class="col-md-3 col-12 col-lg-3 ">
        <div class="bg-image">
          <img src="../../../assets/images/grece1.jpg" alt="">
          <div class="details">
            <p>In publishing and graphic design, Lorem ipsum is a</p>
            <p class="head-p">Grece</p>
            <button>Details</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 col-lg-3 ">
        <div class="bg-image">
          <img src="../../../assets/images/grece1.jpg" alt="">
          <div class="details">
            <p>In publishing and graphic design, Lorem ipsum is a</p>
            <p class="head-p">Grece</p>
            <button>Details</button>
          </div>
        </div>
      </div>
   <div class="col-md-3 col-12 col-lg-3">
        <div class="bg-image">
          <img src="../../../assets/images/london.jpg" alt="">
          <div class="details">
            <p>In publishing and graphic design, Lorem ipsum is a</p>
            <p class="head-p">Landon</p>
            <button>Details</button>
          </div>

        </div>
      </div>
   <div class="col-md-3 col-12 col-lg-3">
        <div class="bg-image">
          <img src="../../../assets/images/maldip.jpg" alt="">
          <div class="details">
            <p>In publishing and graphic design, Lorem ipsum is a</p>
          <p class="head-p">Maldives</p>
          <button>Details</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="catelog-detail">
  <div class="container">
    <div class="famous-detail-head">
      <h1>World's best catalog <br> of the most popular travel destinations.</h1>
    </div>
    <div class="images-list-div">
    <div class="row">
      <div class="col-md-3 col-12 col-lg-3 ">
        <div class="desination-box">
          <div class="img-box">
            <img src="../../../assets/images/listimg1.jpeg" alt="">
          </div>

          <div class="destination-details">
            <p class="destination-name"><span>Name : </span>Tower of London</p>
            <p class="country"><span>country : </span>London</p>
            <p class="Population"><span>Population : </span>599</p>
            <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
            <button class="description-detail">details</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 col-lg-3 ">
        <div class="desination-box">
          <div class="img-box">
            <img src="../../../assets/images/listimg2.jpg" alt="">
          </div>

          <div class="destination-details">
            <p class="destination-name"><span>Name : </span>Tower of London</p>
            <p class="country"><span>country : </span>London</p>
            <p class="Population"><span>Population : </span>599</p>
            <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
            <button class="description-detail">details</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 col-lg-3">
        <div class="desination-box">
          <div class="img-box">
            <img src="../../../assets/images/listimg3.jpg" alt="">
          </div>
          <div class="destination-details">
            <p class="destination-name"><span>Name : </span>Tower of London</p>
            <p class="country"><span>country : </span>London</p>
            <p class="Population"><span>Population : </span>599</p>
            <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
            <button class="description-detail">details..</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 col-lg-3">
        <div class="desination-box">
          <div class="img-box">
            <img src="../../../assets/images/listimg3.jpg" alt="">
          </div>
          <div class="destination-details">
            <p class="destination-name"><span>Name : </span>Tower of London</p>
            <p class="country"><span>country : </span>London</p>
            <p class="Population"><span>Population : </span>599</p>
            <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
            <button class="description-detail">details..</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
